p{
    line-height: 100%;
    text-align: justify;
}

.tamano{
    font-size: 12px;
    line-height: 10%;
    text-align: left;
}
/*Stilos para el slider*/

page-folder{
    ion-slides{
      height: auto;
    }
}