<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>G&G ADELANTE CASANARE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"> <!--no se borra-->

    <!--Animacion-->
    <ion-slides spaceBetween="10" pager>
      <ion-slide>
              <ion-card> <!--Tarjeta para el inicio de la aplicacion-->
                <img src="assets/img/logo.jpeg"/>       
                  <ion-card-title>G&G "Adelante casanare"</ion-card-title>  
                  <ion-card-subtitle><strong >la forma mas rapida y segura de afiliarte </strong> </ion-card-subtitle>   
                <ion-card-content>
                 <p>Cel: 3213963194</p> 
                  <br>
                  <p>
                    Direccion: Carrera 19 n 7-79 Edificio Haybore
                  </p>              
                </ion-card-content>
              </ion-card>
      </ion-slide>
      <ion-slide>
              <ion-card>
                <img src="assets/img/a.jpeg"/>       
                  <ion-card-subtitle><strong >Conoce nuestras instalaciones </strong> </ion-card-subtitle>
                  <ion-card-title>G&G "Adelante casanare"</ion-card-title>     
                <ion-card-content>
                <p>Horarios de atencion;  </p> 
                <br>
                <p>lunes a viernes 7 am - 12 mm y de 2 pm - 6 pm</p>
                <br>
                <p>sabado 8 am - 1 pm</p>          
                </ion-card-content>
              </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/img/b.jpeg"/>       
            <ion-card-subtitle><strong >Los mejores servicios</strong> </ion-card-subtitle>
            <ion-card-title>¿porqué escojer a GYG ?</ion-card-title>     
          <ion-card-content>
           <p>Tenemos el gusto de atentenderte con la mejor atencion</p>
            <p>la mejor asesoria y precios accesibles</p>
            <br>
            <p> <---- Te invitamos a conocer nuestro menú de opciones en la barra izquierda </p>
                       
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  
  <!--Boton de redes-->
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge style="padding-top: 63%;">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

<!--Pie de pagina-->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <p class="tamano">Cel: 3213963194</p>
      <p class="tamano">Email: gygadelantecasanre1@gmail.com</p> 
      <p class="tamano">Direccion: Carrera 19 n 7-79 Edifio Haybore</p> 
    </ion-title>
  </ion-toolbar>
</ion-footer>