<ion-header >
  <ion-toolbar color="primary">
  
    <ion-title >Servicios</ion-title>
  </ion-toolbar>
</ion-header>

 
  <ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-button  expand="block"  routerLink="./contenido1">Outsourcing</ion-button>
    <ion-button  expand="block" routerLink="./contenido2">Afiliación </ion-button>
    <ion-button  expand="block"  routerLink="./contenido3">Liquidación mensual  </ion-button>


    <ion-button  expand="block"  routerLink="">Asesoría Personalizada </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Tramite de incapacidades 
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Cuentas de cobro  
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Retiros  
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Traslados
    </ion-button>
    <ion-list>
      G&G "Adelante Casanare"
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <!--Espacio para el pie de pagina-->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <p class="tamano">Cel: 3213963194</p>
      <p class="tamano">Email: gygadelantecasanre1@gmail.com</p> 
      <p class="tamano">Direccion: Carrera 19 n 7-79 Edifio Haybore</p> 
    </ion-title>
  </ion-toolbar>
</ion-footer>
